@import '~bootstrap/scss/bootstrap';

body {
  margin: 0 auto;
  background-color: black;
  height: 100%;
}

.game {
  text-align: center;
  color: white;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flip-wrap {
  flex: wrap;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.game-board {
  height: 100%;
  width: 100%;
}

.board {
  width: 600px;
}

.box {
  height: 200px;
  width: 200px;
  border: 1px solid white;
  font-size: 60px

}

.remove-left {
  border-left: none;
}

.remove-right {
  border-right: none;
}

.remove-top {
  border-top: none;
}

.remove-bottom {
  border-bottom: none;
}


.box:hover {
  background-color: grey;
}

button {
  margin-top: 30px;
}
